.sidebar ul li:hover {
    background-color: rgb(rgb(205, 133, 133), green, blue);
    border-radius: 5px;
  }
  
  .sidebar ul li:hover a {
    color: white;
  }
  .active {
    background-color: rgb(rgb(205, 133, 133), green, blue);
    border-radius: 5px;
    color: white;
}